/*!*******************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[3]!./src/app/page.module.css ***!
  \*******************************************************************************************************************************************************************************************************************************************************************/
.page_todocard__kfSHe{
    display: flex;
}

.page_todocard__kfSHe svg{
    width: 20px;
    height: 20px;
}

.page_outerPage__7dL5U{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #F1EAFF;
    
}

.page_todoOut__HpgDT{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid #D0A2F7;
    border-radius: 10px;
    justify-content: space-between;
    height: 80vh;
    min-width: 400px;
    width: 50%;
    overflow: hidden;
}

.page_todoOut__HpgDT h1{
    background-color: #D0A2F7;
    width: 100%;
    text-align: center;
    padding: 10px;
    color: white;
    height: 10%;
}

.page_todoOut__HpgDT .page_section1__Y8815{
    width: 100%;
    height: 10%;
    background-color: #D0A2F7;
    display: flex;
    
}

.page_todos__c4LLg{
    height: 9%;
    background-color: aqua;
}
